<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-12 text-center">
    		<p>
            	3rd Year Computer Science student at the Australian National University. 
		Studying a Bachelor of Advanced Computing (Honours) with a specialisation in Machine Learning.
        </p>
        <p>
           Currently interested in the world of Computer Vision and Natural Language Processing,
		however posess skills in cloud computing/computer networking too.
        </p>
      </div>
	    
    </div>
  </div>
</section>
