<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-12 text-center">
    		<p>Studying a Bachelor of Advanced Computing (Honours) at the Australian National University
		<br>
			Specialisation in Machine Learning
		    </p>
			<p>Currently interested in the worlds of Computer Vision, Natural Language Processing and Cloud Computing</p>
				
	

      </div>
	    
    </div>
  </div>
</section>
