<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Internship Project</h2>
                <hr />
            </div>
        </div>
            <div class="row">
		<div class="col-sm-12">
			<p>The goal of the internship project was to research and produce reports and implementations of various Natural Language Processing (NLP) 
		    and Machine Learning (ML) models. Providing Castlepoint with the necessary information to make an informed decision, when choosing 
		    which NLP & ML methods to implement into their records management system.
	    		</p>
		    </div>
    <div class="col-sm-6">
	    
      <h3 style="margin-left:0">Key Phrase Extraction</h3>
		  <ul>
  			<li>
          			Researched a multitude of natural language processing and key phrase extraction models. 
				Selecting the best models based on speed, resource requirements and accuracy. 
				Testing to ensure robustness against a variety of datasets including documents of different lengths and types.
    			</li>
			  <br>
  			<li>
          			Once selected implemented in Python and containerised within a Docker image. Setup as an Application Programming Interface (API).
				Allowing for easy maintainability and scalability on cloud services such as AWS & Microsoft Azure or on-premise servers. 
  			</li>
			  <br>
		  	
			<li> Example input and output
			</li>
  		    </ul>
  		    <h3>Query Synonym Expansion</h3>
  		    <ul>
  			<li>
				
  			</li>
  			<li>
  			  
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
