<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Internship Project</h2>
                <hr />
            </div>
        </div>
            <div class="row">
		<div class="col-sm-12">
			<p>The goal of the internship project was to research and produce reports and implementations of various <b> Natural Language Processing (NLP)</b> 
		    and <b> Machine Learning (ML)</b> models. Providing Castlepoint with the necessary information to make an informed decision, when choosing 
		    which NLP & ML methods to implement into their records management system.
	    		</p>
		    </div>
    <div class="col-sm-6">
	    
      <h3 style="margin-left:0">Key Phrase Extraction</h3>
		  <ul>
  			<li>
          			Researched a multitude of natural language processing and key phrase extraction models. 
				Selecting the best models based on <b> speed, resource requirements and accuracy</b>. 
				Testing to ensure robustness against a variety of datasets including documents of different lengths and types.
    			</li>
			  <br>
  			<li>
          			Once selected implemented in<b>  Python</b> and containerised within a <b> Docker</b> image. Setup as an<b>  Application Programming Interface (API)</b>.
				Allowing for easy maintainability and scalability on cloud services such as <b> AWS & Microsoft Azure </b> or on-premise servers. 
  			</li>
			  <br>
		  	
			<li> In the example a BBC News Article is run through the key phrase extraction module. The key phrases are transformed into a word cloud for easy viewing.
			</li>
  		    </ul>
 
	    </div>
	 <div class="col-sm-6">   
	  <h3 style="margin-top:0">Example</h3>
	    

     	 </div>
    </div>
  </div>
</section>
